## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
Thumbs.db
*.iml
*.idea
*.classpath
*.project
*.settings/
/yschool/target/
/modules/repository/target/
/modules/repository_lite/target/
/modules/event-scheduling/target/
/modules/reporting/target/
/modules/user-management/target/