## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
Thumbs.db
*.iml
*.idea
/modules/repository/target/
/modules/event-scheduling/target/
/modules/reporting/target/
/yschool/target/