## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
Thumbs.db
*.iml
*.idea
*.classpath
*.project
*.settings/
/yschool/target/
/modules/repository/target/
/modules/setup/target/
/docs/ySchool.mwb.bak
/docs/*.bak
