.thumbnail, a.thumbnail {
    background-color: rgb(249, 242, 253);
}

.thumbnail:hover, a.thumbnail:hover {
    background-color: rgb(230, 204, 244);
    border-color: rgb(230, 204, 244);
}

a:hover {
    text-decoration: none;
}

.ynavbar-dark {
    background-color: rgb(70, 20, 100);
}

.ynavbar-dark .navbar-header a, .ynavbar-dark .navbar-topmenu {
    color: rgb(235, 215, 245);
}

.ynavbar-dark .navbar-header a:hover, .ynavbar-dark .navbar-topmenu:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(80, 20, 120);
}

.ynavbar-dark .dropdown a:focus {
    color: rgb(255, 255, 255);
    background-color: rgb(80, 20, 120);
}

#navbar-dark-top-search {
    border: 0px none;
    border-radius: 0px;
    /*width: 200%;*/
    box-shadow: -5px 5px 15px rgb(150, 80, 150) inset;
    background: rgb(80, 20, 110);
    float: right;
}

#navbar-dark-top-search-addon {
    border: 0px none;
    border-radius: 0px;
    box-shadow: 5px 5px 15px rgb(150, 80, 150) inset;
    background: rgb(80, 20, 110);
    color: rgb(235, 215, 245);
}

#navbar-dark-top-search:focus {
    border: 0px none;
    border-radius: 0px;
    box-shadow: 0px 10px 10px rgb(230, 180, 255) inset;
    background-color: rgb(255, 255, 240);
    float: right;
}

#customPojo_input {
    /*width: 50%;*/
    height: 34px;
    float:right;
    border: 0px none;
    border-radius: 0px;
    box-shadow: -5px 5px 15px rgb(150, 80, 150) inset;
    background: rgb(80, 20, 110);
}

#customPojo_input:focus {
    /*width: 100%;*/
    border: 0px none;
    border-radius: 0px;
    box-shadow: 0px 10px 10px rgb(230, 180, 255) inset;
    background-color: rgb(255, 255, 240);
}

#navbar-dark-top-search-li {
    margin-top: 15px;
    margin-bottom: 0px;
}

/*#navbar-dark-top-search-li #customPojo_input{*/
    /*width: 50%;*/
    /*float:right;*/
/*}*/

/*#navbar-dark-top-search-li #customPojo_input:focus{*/
    /*width: 100%;*/
/*}*/

#customPojo_panel{
    top:55px;
}
